# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf

# OS junk
.DS_Store
Thumbs.db
docs/Expenses-Reimbursement-Form.xlsx

# KiCad
*.kicad_prl
*.kicad_dru
*-backups/
*-cache.lib
fp-info-cache
sym-lib-table